<h1>Create an article</h1>

<% if logged_in? %>
  <%= render "form" %>
<% else %>
  <p>You have to logged_in to create an article</p>
  <%= link_to "Login", login_path %>
<% end %>
<br>
<br>
<%= link_to "Home", root_path %>